@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
}

#noel {
    width:24px;
    height: 24px;
}

#lua {
    width: 20px;
    height: 20px;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 48px;
}

.textos_destaque {
    color: #282525;
    font-weight: 600;
    font-size: 24px;
}

#caixa_titulo_celeb {
    width: 235px;
    height: 72px;
}

#caixa_texto_celeb {
    width: 372px;
    height: 96px;
}

#img_and_celebdate {
    /* background-color: violet; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "date_celebrate celebrate1_img";
}

#date_celebrate {
    /* background-color: aqua; */
    width: 372px;
    height: 288px;
    grid-area: date_celebrate;
    margin-top: 113px;
    margin-left: 218px;
}

#texto_celebrate {
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #5D5656;
}

#celebrate1_img {
    /* background-color: pink; */
    /* margin-top: 72px;  */
    width: 450px;
    height: 450px;
    grid-area: celebrate1_img;
}

.botao {
    margin-top: 50px;
    background-color: #DC3845;
    border: none;
    border-radius: 64px;
    width: 215px;
    height: 56px;
    font-size: 16px;
    color:white;
}

.loja {
    /* height: 100%;
    width: 100%; */
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 247px 247px 247px;
    grid-template-areas: "gingerbread santa-claus-hat candy-stick"
    "christmas-tree snowman";
    gap: 40px;
}

.itens {
    margin-top: 33px;
    margin-left: 320px;
    width: 200px;
    height: 247px;
    border-radius: 12px;
    box-shadow: 0px 4px 24px 0px #301D1E1A;
}

.gingerbread {
    grid-area: gingerbread;
}

.santa-claus-hat {
    grid-area: santa-claus-hat;
}

.candy-stick {
    grid-area: candy-stick;
}

.christmas-tree {
    grid-area: christmas-tree;
}

.snowman {
    grid-area: snowman;
}

.caixa-coracao {
    width: 20px;
    height: 20px;
}

.caixa-img-item {
    padding-top: 32px;
    padding-left: 40px;
    width: 120px;
    height: 120px;
}

.caixa-preco {
    height: 30px;
    width: 38px;
    padding-left: 24px;

}

.caixa-descricao {
    width: 72px;
    height: 21px;
    padding-top: 10px;
    padding-left: 24px;
}

.descricao_itens {
    font-weight: 500;
    font-size: 14px;
    color:#5D5656;
}